<div>
  <h2 class="mb30">Réalisations scolaire</h2>

  <h4>Korewar - 1<sup>ère</sup> année</h4>

  <p class="mb30">
    Le Korewar est un jeu d'<acronym title="Intelligence Artificielle">IA</acronym> qui s'affronte dans une machine
    virtuelle.
    Chaque champion doit survivre et manger la mémoire attribuée aux autres champions.
    La difficulté de ce projet résidait dans le fait que le sujet est assez complexe. Il faut dans un premier temps
    "compilé" du code pseudo-assembleur en un binaire utilisable dans notre machine virtuelle. Le binaire doit être
    universel.<br />
    Réalisé en C.
  </p>

  <h4>Nibbler - 2<sup>ème</sup> année</h4>

  <p class="mb30">
    Le principe du projet était de faire un snake. Nous devions coder de manière a pouvoir linker une librairie
    graphique dynamiquement à l'exécution.
    Ce projet était une introduction aux librairies dynamiques.<br />
    Réalisé en C/C++ avec ncurse, SFML et OpenGL.
  </p>

  <h4>Sécurité web - 2<sup>ème</sup> année</h4>

  <p class="mb30">
    Participation à 2 concours de sécurité web interne à l'école consistant dans un premier temps d'attaquer des sites
    mal protégés puis dans un deuxième temps de patcher un site mal protégé tout en attaquant les autres équipes.
    Nos attaques reposent sur des scripts, des formulaires externes, des images ou des fichiers vérolés, ceci afin de
    pouvoir devenir administrateur du site, pour accéder aux données sensibles, ou simplement détourner le site
    web.<br />
  </p>

  <h4>My_ftp - 2<sup>ème</sup> année</h4>

  <p class="mb30">
    Réalisation d'un petit serveur ftp permettant une gestion de fichier sur 2 machines distantes.
    Il s'agit de notre premier programme reposant sur une connexion "TCP".<br />
    Réalisé en C.
  </p>

  <h4>My_irc - 2<sup>ème</sup> année</h4>

  <p class="mb30">
    Réalisation d'un serveur irc permettant de discuter avec des internautes et de créer des canaux de discussion.
    Grâce à ce projet, nous avons poussé plus loin notre maîtrise de transfert d'informations en réseau TCP, ainsi
    qu'une introduction au selector.<br />
    Réalisé en C.
  </p>

  <h4>Zappy - 2<sup>ème</sup> année</h4>

  <p class="mb30">
    Le Zappy est un jeu (d'IA) qui consiste a faire monter de niveau des joueurs en réalisant des élévations (en
    respectant certaines conditions) tout en survivant.
    Les joueurs se connectent au serveur, choisissent une équipe, puis se déplacent sur la carte du monde a la recherche
    de nourriture et de pierres précieuse nécéssaire à leur élévation.<br />
    Serveur réalisé en C - IA réalisée en c++ - client graphique réalisé en C++/SFML.
  </p>

  <h4>Bomberman - 2<sup>ème</sup> année</h4>

  <p class="mb30">
    Le principe du projet était de recréer un bomberman basique en 3D avec la librairie OpenGl.<br />
    Réalisé en C++/OpenGl.
  </p>

  <h4>Conception logiciel et UML - 3<sup>ème</sup> année</h4>

  <p class="mb30">
    Étude de cas et réalisation d'un système complexe de logiciel de gestion pour Aeroports.<br />
    Mise en pratique des différents concept et diagrammes UML.<br />
  </p>

  <h4>Marketing, Communication et Management - 3<sup>ème</sup> année</h4>

  <p class="mb30">
    Introduction des notions de bases dans ces différents domaine.<br />
  </p>

  <h4>Business Management 5<sup>ème</sup> année</h4>
  <p class="mb30">
    Étude de cas sur l'entreprise Parrot. Réalisation d'un business plan fictif pour l'entreprise.<br />
  </p>

  <h4>Web Project 5<sup>ème</sup> année</h4>
  <p class="mb30">
    Réalisation d'une SPA utilisant la <a href="http://mean.io/" rel="nofollow" target="_blank">MEAN stack</a>.
    (Mongo/Express/Angular/Node).
    L'application est un aggréateur de flux RSS.
    Fonctionnalités:
    <ul>
      <li>Inscription/Authentification via réseaux sociaux</li>
      <li>CRUD sur les flux RSS</li>
      <li>Possibilité de rangement par catégories et tags</li>
      <li>Parsing et récupération automatique des flux</li>
    </ul>
  </p>
</div>