<div>
  <h2 class="mb30">Réalisations professionnelles</h2>

  <h4>PictoAccess</h4>
  <p class="mb30">
    Création du site <a href="https://www.pictoaccess.fr" rel="nofollow" target="_blank">https://www.pictoaccess.fr</a>
    en
    Ruby (framework Ruby On Rails) / React.
    <ul>
      <li>Réalisation du backend.</li>
      <li>Réalisation du frontend - intégration des maquettes.</li>
      <li>Participation à l'élaboration du produit.</li>
    </ul>
  </p>

  <h4>Pictotravel</h4>
  <p class="mb30">
    Création du site <a href="https://www.pictotravel.fr" rel="nofollow" target="_blank">https://www.pictotravel.fr</a>
    en
    Ruby (framework Ruby On Rails).
    <ul>
      <li>Réalisation du backend.</li>
      <li>Réalisation du frontend - intégration des maquettes.</li>
      <li>Participation à l'élaboration du produit.</li>
    </ul>
  </p>

  <h4>Blog</h4>
  <p class="mb30">
    Création et maintenance du site <a href="https://clementdemily.github.io/" rel="nofollow"
      target="_blank">https://clementdemily.github.io/</a>.
    <ul>
      <li>Configuration du serveur</li>
      <li>Personnalisation du design</li>
      <li>Rédaction</li>
    </ul>
  </p>

  <h4>Infotravel</h4>
  <p class="mb30">
    Maintenance du site <a href="http://www.infotravel.fr" rel="nofollow" target="_blank">http://www.infotravel.fr</a>
    (wordpress)
  </p>

</div>