  <address class="vcard">
    <h4>Coordonnées</h4>
    <span class="fn">Nom et prénom: Demily Clément</span><br />
    <span class="adr">
      Adresse: <span class="locality">Lille</span>, <span class="region">Nord-Pas-De-Calais</span> <span
        class="postal-code">59000</span>
    </span><br />
    <span>Email: <a class="email" href="mailto:demily.clement@gmail.com">demily.clement@gmail.com</a></span><br />
    <span>Homepage: <a class="url" href="{{ site.url }}" rel="me">{{ site.url }}</a></span>
  </address>