  <h4>Expériences Professionnelles</h4>
  <ol class="vcalendar">
    <li class="experience vevent">
      <span class="summary"><a href="http://unisc.fr" target="_blank">Unisc</a>, Développeur Ruby</span>, <span
        class="location">Lille</span>.<br />
      <abbr class="dtstart" title="2014-06-15">Juin 2014</abbr> - <abbr title="2015-06-28">à ce jour.</abbr>
    </li>

    <li class="experience vevent">
      <span class="summary">Auto-entreprenneur</span>, <span class="location">Lille</span>.<br />
      <abbr class="dtstart" title="2013-02-01">Février 2013</abbr> - <abbr title="2015-06-28">à ce jour.</abbr>
    </li>

    <li class="experience vevent"><span class="summary">Developpeur web</span>, <span
        class="location">Roubaix</span>.<br />
      <abbr class="dtstart" title="2011-03-01">Mars 2011</abbr> - <abbr title="2011-08-01">Aout 2011</abbr>
    </li>
  </ol>