  <h4>Parcours scolaire</h4>
  <ol class="vcalendar">
    <li class="education vevent">
      <div class="summary vcard">
        <a class="url fn org" href="http:/www.epitech.eu/" rel="nofollow">EPITECH</a>
        <div class="adr">
          <span class="locality">Lille</span>, <abbr class="region" title="Nord-Pas-De-Calais">Nord-Pas-De-Calais</abbr>
        </div>
      </div>
      (<abbr class="dtstart" title="2011-01-24">2011</abbr> - <abbr class="dtend" title="2015-08-01">2015</abbr>)
    </li>

    <li class="eduction vevent">
      <div class="summary vcard">
        <a class="url fn org" href="http:/www.fsg.ulaval.ca/" rel="nofollow">Universié Laval</a>
        <div class="adr">
          <span class="locality">Québec</span>, <abbr class="region" title="Québec">Québec</abbr>
        </div>
      </div>
      (<abbr class="dtstart" title="2013-09-02">2013</abbr> - <abbr class="dtend" title="2014-05-29">2014</abbr>)
    </li>

    <li class="education vevent">
      <div class="summary vcard">
        <a class="url fn org" href="http:/www.insset.u-picardie.fr/" rel="nofollow">Institut Supérieur des Sciences et
          Techniques</a>
        <div class="adr">
          <span class="locality">Saint-Quentin</span>, <abbr class="region" title="Picardie">Picardie</abbr>
        </div>
      </div>
      (<abbr class="dtstart" title="2010-10-07">2010</abbr> - <abbr class="dtend" title="2011-08-01">2011</abbr>)
    </li>

    <li class="education vevent">
      <div class="summary vcard">
        <a class="url fn org" href="#">Lycée Condorcet</a>
        <div class="adr">
          <span class="locality">Saint-Quentin</span>, <abbr class="region" title="Picardie">Picardie</abbr>
        </div>
      </div>
      (<abbr class="dtstart" title="2005-09-01">2008</abbr> - <abbr class="dtend" title="2010-05-25">2010</abbr>)
    </li>

    <li class="education vevent">
      <div class="summary vcard">
        <a class="url fn org" title="Lycée Pierre de la ramée" href="http:/www.laramee.fr/" rel="nofollow">Lycée Pierre
          de la ramée</a>
        <div class="adr">
          <span class="locality">Saint-Quentin</span>, <abbr class="region" title="Picardie">Picardie</abbr>
        </div>
      </div>
      (<abbr class="dtstart" title="2005-09-01">2005</abbr> - <abbr class="dtend" title="2008-05-25">2008</abbr>)
    </li>

  </ol>