  <h4>Compétences</h4>
  <ol class="skills">
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/HTML5" rel="tag" target="_blank">HTML5</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/CSS3" rel="tag" target="_blank">CSS3</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Ruby" rel="tag" target="_blank">Ruby</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Ruby_on_rails" rel="tag" target="_blank">RubyOnRails</a>
    </li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/PHP" rel="tag" target="_blank">PHP</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Symfony" rel="tag" target="_blank">Symfony2</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Wordpress" rel="tag" target="_blank">Wordpress</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/JavaScript" rel="tag" target="_blank">Javascript</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Jquery" rel="tag" target="_blank">jQuery</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Node.js" rel="tag" target="_blank">Node.js</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/SQL" rel="tag" target="_blank">SQL</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Mysql" rel="tag" target="_blank">MySQL</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/PostgreSQL" rel="tag" target="_blank">PostgreSQL</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Unix" rel="tag" target="_blank">Unix</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Windows" rel="tag" target="_blank">Windows</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/MacOS" rel="tag" target="_blank">MacOS</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Apache_HTTP_Server" rel="tag" target="_blank">Apache2</a>
    </li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Nginx" rel="tag" target="_blank">Nginx</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/C_(langage)" rel="tag" target="_blank">C</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/C++_(langage)" rel="tag" target="_blank">C++</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/OCaml" rel="tag" target="_blank">OCaml</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Qt" rel="tag" target="_blank">Qt</a></li>
    <li><a class="skill" href="https:/fr.wikipedia.org/wiki/Sfml" rel="tag" target="_blank">SFML</a></li>
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/Simple_DirectMedia_Layer" rel="tag" target="_blank">SDL</a>
    </li>
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/Open_gl" rel="tag" target="_blank">OpenGL</a></li>
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/Boost_(biblioth%C3%A8ques)" rel="tag"
        target="_blank">BOOST</a></li>
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/Unified_Modeling_Language" rel="tag"
        target="_blank">UML</a></li>
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/Scrum_(m%C3%A9thode)" rel="tag" target="_blank">SCRUM</a>
    </li>
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/M%C3%A9thode_agile" rel="tag" target="_blank">Agile</a>
    </li>
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/Kanban" rel="tag" target="_blank">Kanban</a></li><br />
    <li><a class="skill" href="https://fr.wikipedia.org/wiki/Diagramme_de_Gantt" rel="tag" target="_blank">GANTT</a>
    </li><br />
  </ol>